{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
   <h1>Blog create page</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    {% comment %} <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="title" name="title" class="form-control" >
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <input type="text" name="description" class="form-control" >
    </div>
    <div class="mb-3">
      <label class="form-label">Image</label>
      <input type="file" name="image" class="form-control" >
    </div>
    <div class="mb-3">
      <label class="form-label">Category</label>
      <input type="category" name="category" class="form-control" >
    </div>
    <div class="mb-3">
      <label class="form-label">Tags</label>
      <input type="tags" name="tags" class="form-control" >
    </div>
     {% endcomment %}
    <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}